
package Metodos;


public class matricez1 {
    public static void main (String [] args){
        double calificaciones [][]= new double [5][10]; // se declara en [filas][columnas]
        llenarsalones(calificaciones);
        imprimircalificaciones(calificaciones);

    }
    public static void llenarsalones(double calificaciones [][]){
        for(int filas=0;filas<calificaciones.length; filas++) {
            for (int columnas = 0; columnas < calificaciones[filas].length; columnas++) {
                calificaciones[filas][columnas]=Math.round ((Math.random()*5)+5);
            }
        }

    }
    public static void imprimircalificaciones (double calificaciones [][]){
        for(int filas=0; filas<calificaciones.length;filas++){
            double promedio=0;
            System.out.print("salon" +filas+" =");

            for(int columnas=0; columnas<calificaciones[filas].length; columnas++){
                System.out.print(calificaciones[filas][columnas] + "  ");
                promedio+=calificaciones[filas][columnas];

            }
            System.out.println( "promedio:" +(promedio/calificaciones[filas].length));
        }
    }   }
